supabase:
  url: ${SPRING_SUPABASE_URL}
  serviceRoleKey: ${SPRING_SUPABASE_SERVICE_ROLE_KEY}
  bucket: ${SPRING_SUPABASE_STROAGE_BUCKET:WeplantStorage}
  bucketPublic: ${SUPABASE_BUCKET_PUBLIC:true}

server:
  port: ${PORT:8080}

spring:
  application:
    name: Weplant

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

    hikari:
      maximum-pool-size: ${DB_POOL_SIZE:10}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  flyway:
    enabled: ${SPRING_FLYWAY_ENABLED:true}
    baseline-on-migrate: ${SPRING_FLYWAY_BASELINE_ON_MIGRATE:true}
    locations: classpath:db/migration

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          ssl:
            trust: smtp.gmail.com
        debug: true


jwt:
  valid-duration: 300
  refreshable-duration: 172800
  signer-key: ${JWT_SIGNER_KEY}
